<main>
  <!-- Hero Section -->
  <section class="profile">
    <!-- Text & IMG -->
    <div class="profile__container">
      <!-- Text Block -->
      <div class="profile__text">
        <!-- Title -->
        <h1>
          Gimnasio Ciudad Verde lo mejor para tu salud
        </h1>

        <!-- Badge -->
        <div class="badge">
          <!-- badge icon -->
          <i class="ri-heart-pulse-fill"></i>
          <div class="text-container">
            <span>Transforma tu vida con nosotros</span>
          </div>
        </div>

        <!-- Description -->
        <p>
          Bienvenidos al Gimnasio Ciudad Verde, tu destino de bienestar y fitness en la ciudad. Nos enorgullecemos de ofrecer un entorno amigable y motivador donde puedes alcanzar tus objetivos de salud y acondicionamiento físico.
          Contamos con distintos servicios y planes con los mejores entrenadores personales, clases grupales y mucho más. ¡Ven a visitarnos y descubre todo lo que tenemos para ti!
        </p>

        <!-- Button -->
        <a href="/" class="btn btn-lg btn-accent">
          Contáctanos Ahora!
        </a>
      </div>

      <!-- IMG -->
      <div class="profile__img">
        <img src="/hero_home.png" alt="Gimnasio Ciudad Verde" title="Hero Gimnasio Ciudad Verde">
      </div>
    </div>
  </section>
</main>
