#table-container {
  width: 90%; 
  margin: 0 auto;
}

.table th, .table td {
  border: 1px solid #ddd;
}

.table th {
  padding-top: 12px;
  text-align: center;
  background-color: #f2f2f2;
}

.table td {
  text-align: center;
  padding: 10px;
}

#th-acciones{
  width: 5rem;
}


.image-preview {
  position: relative;
  width: 100%;
  height: 200px; /* Ajusta la altura según sea necesario */
  background-size: cover;
  background-position: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.image-preview input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}