<div class="menu-container">
  <div class="menu">
    <div class="menu-header">
      <button (click)="setActiveMenu('fact-Producto')">Facturación de Productos</button>
      <button (click)="setActiveMenu('Fact-Renovacion_membresia')">Facturación de Renovación de Membresías</button>
      <button (click)="setActiveMenu('fact-Compra_membresia')">Facturación de Adquisición de Membresías</button>
    </div>
    <div class="menu-content">
      <ng-container *ngIf="activeMenu === 'fact-Producto'">
        <h2 style="text-align: center;">Factura Proforma</h2>
        <div class="factura-container">
          <div class="factura-header">
            <div class="empresa-info">
              <p><strong>GYM CIUDAD VERDE</strong></p>
              <p>RUC: <input type="text" [(ngModel)]="ruc" id="ruc" disabled="true"></p>
              <p>TELÉFONO: <input type="text" [value]="0129289823" disabled="true"> </p>
              <p>EMAIL: <input style="width: 15rem;" type="text" value="gymCiudadVerde@gmail.com" disabled="true"></p>
            </div>
            <div class="factura-info">
              <p><strong>DATOS DEL CLIENTE</strong></p>
              <p>IDENTIFICACION: 
                <input style="width: 10rem; margin-right: 0.5rem;" [(ngModel)]="id_cliente" id="id_cliente">
                <button (click)="openModal()" class="btn btn-success"><i class="bi bi-search"></i></button>
              </p>
              <label for="id_nombre">NOMBRE: </label>
              <p id="id_nombre">{{cliente.nombre}} {{cliente.primer_apellido}} {{cliente.segundo_apellido}}</p> 
              <label for="id_correo_cliente">CORREO:</label>
              <p id="id_correo_cliente">{{cliente.correo}}</p>
            </div>
            <div class="factura-info">
              <p><strong>DATOS DEL VENDEDOR</strong></p>
              <p>VENDEDOR:</p>
              <p>CORREO:</p>
              <p>TELÉFONO:</p>
            </div>
          </div>

          <div class="factura-producto">
            <div>
              <p><strong>CODIGO DE PRODUCTO</strong></p>
              <input #productoInput (keyup.enter)="unoProducto(productoInput.value)" id="buscador-producto">
              <button (click)="unoProducto(productoInput.value)"><i class="bi bi-search"></i></button>
            </div>
            <div style="margin-left: 2rem;">
              <p><strong>NOMBRE</strong></p>
              <input [value]="producto.nombre" readonly>
            </div>
            <div style="margin-left: 2rem;">
              <p><strong>CANTIDAD</strong></p>
              <input type="number" [(ngModel)]="detalle.cantidad" style="width: 5rem;" id="cantidad-producto">
            </div>
            <div id="btn-group-productos" style="margin-left: 2rem;">
              <p><strong>OPERACIONES</strong></p>
              <button (click)="agregarDetalle()"><strong>Añadir</strong></button>
              <button style="margin-left: 1rem;"><strong>Eliminar</strong></button>
            </div>
          </div>

          <table class="factura-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>PRODUCTO</th>
                <th>CANTIDAD</th>
                <th>PRECIO</th>
                <th>SUB TOTAL</th>
                <th>ACCION</th>
              </tr>
            </thead>
            <tbody *ngFor="let detalle of detalles; let i = index">
              <tr *ngIf="detalle.cantidad>0">
                <td>{{detalle.producto.id_producto}}</td>
                <td>{{detalle.producto.nombre}}</td>
                <td>{{detalle.cantidad}}</td>
                <td>{{detalle.precio}}</td>
                <td>{{detalle.total}}</td>
                <td>
                  <button (click)="eliminarDetalle(i)" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                </td>
              </tr>
              <!-- Agrega más filas según sea necesario -->
            </tbody>
          </table>

          <div class="factura-pie">
            <p><strong>SUBTOTAL: </strong>{{factura.subtotal}} $</p>
            <p><strong>IVA: </strong> {{factura.iva}} $</p>
            <p><strong>TOTAL: </strong>{{factura.total}} $</p>
          </div>

          <div id="pagar-productos">
            <button (click)="pagar()" id="btn-pagar">Pagar</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="activeMenu === 'Fact-Renovacion_membresia'">
        <p>Facturación de Renovación de Membresías</p>
        <!-- Implementa la estructura similar para renovación de membresías -->
      </ng-container>

      <ng-container *ngIf="activeMenu === 'fact-Compra_membresia'">
        <p>Facturación de Adquisición de Membresías</p>
        <!-- Implementa la estructura similar para compra de membresías -->
      </ng-container>
    </div>
  </div>
</div>

<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buscar Cliente</h5>
        <button type="button" (click)="buscarCliente()" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input id="buscador-cliente"
          (keyup.enter)="buscarCliente()" 
          [(ngModel)]="id_cliente" 
          type="text" 
          placeholder="Buscar por identificación" 
          class="form-control mb-3"
        />
        
        <!-- Tabla para mostrar los clientes -->
        <table class="table">
          <thead>
            <tr>
              <th>DNI</th>
              <th>Tipo DNI</th>
              <th>Nombre</th>
              <th>Primer Apellido</th>
              <th>Segundo Apellido</th>
              <th>Correo</th>
              <th>Clave</th>
              <th>Dirección</th>
              <th>Teléfono</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{cliente.id_cliente}}</td>
              <td>{{cliente.tipo_identificacion}}</td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.primer_apellido}}</td>
              <td>{{cliente.segundo_apellido}}</td>
              <td>{{cliente.correo}}</td>
              <td>{{cliente.clave}}</td>
              <td>{{cliente.direccion}}</td>
              <td>{{cliente.telefono}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

