<div class="container-general">
  <div class="membresia-container">
    <div class="membresia-info">
      <h2>Detalles de la Membresía</h2>
      <div class="membresia-detalle">
        <p><strong>Plan:</strong> {{ membresia.plan.nombre }}</p>
        <p><strong>Descripción:</strong> {{ membresia.plan.descripcion }}</p>
        <p><strong>Costo:</strong> ${{ membresia.plan.costo }}</p>
        <p><strong>Duración:</strong> {{ membresia.plan.duracion_dias }} días</p>
        <p><strong>Servicios incluidos:</strong></p>
        <ul>
          <li *ngFor="let servicio of membresia.plan.servicios">
            {{ servicio.nombre }} - {{ servicio.categoria.categoria }} (${{ servicio.precio }})
          </li>
        </ul>
      </div>
    </div>

    <div class="estado-membresia">
      <h2>Estado de la Membresía</h2>
      <div class="estado-detalle">
        <p><strong>Fecha de Inicio:</strong> {{ membresia.fechaInicio}}</p>
        <p><strong>Fecha de Fin:</strong> {{ membresia.fechaFin }}</p>
        <p><strong>Días Restantes:</strong> {{ membresia.dias_restantes }}</p>
        <p><strong>Estado: </strong> <span
            [class]="membresia.estado === 'ACTIVO' ? 'activo' : 'inactivo'">{{ membresia.estado }}</span></p>
      </div>
    </div>
  </div>

  <div class="checkout-container">
    <div class="container-img">
      <img height="150px" width="200px"
        src="https://previews.123rf.com/images/stuartphoto/stuartphoto1407/stuartphoto140702773/29700047-tarjeta-de-membres%C3%ADa-indicando-persona-muy-importante-y-rico-exclusividad.jpg" />
    </div>
    <div class="container-buttons">
      <button (click)="abrirCheckout()" class="btn btn-success">
        Renovar Membresía
      </button>
      <button class="btn btn-danger">
        Eliminar Membresía
      </button>
    </div>

    <ng-container #checkout *ngIf="checkoutOpended">
      <div class="container-payment">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
    </ng-container>
  </div>

</div>
