<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Cliente</title>
</head>

<body>
    <div class="registro-container">
        <h1>Formulario de Registro de Cliente</h1>
        <form id="form-cliente">

            <div id="container-input">
                <label for="id_cliente">Identificación:</label>
                <span *ngIf="avisoIdentificacion" class="advertencia">Ingrese Indetificacion valida</span>
            </div> 
            <input (change)="validarID()" [(ngModel)]="cliente.id_cliente" type="text" id="id_cliente" name="id_cliente" maxlength="15" required>
            
            <label for="tipo-id">Tipo de Identificación:</label>
            <select  id="tipo_identificacion" class="tipo-id" disabled>
            </select>
            
            <label for="nombre">Nombre:</label>
            <input [(ngModel)]="cliente.nombre" type="text" id="nombre" name="nombre" maxlength="20" required>
            
            <label for="primer_apellido">Primer Apellido:</label>
            <input [(ngModel)]="cliente.primer_apellido" type="text" id="primer_apellido" name="primer_apellido" maxlength="20" required>
            
            <label for="segundo_apellido">Segundo Apellido:</label>
            <input [(ngModel)]="cliente.segundo_apellido" type="text" id="segundo_apellido" name="segundo_apellido" maxlength="20">
            
            <div id="container-input">
                <label for="correo">Correo:</label>
                <span *ngIf="avisoCorreo" class="advertencia">Ingrese un correo valido</span>
            </div>
            <input (change)="validarCorreo()" [(ngModel)]="cliente.correo" type="email" id="correo" name="correo" maxlength="40">
            

            <div id="container-input">
                <label for="clave">Clave:</label>
                <span *ngIf="avisoContrasenia" class="advertencia">Ingrese un una clave segura</span>
            </div>
            <input (change)="validarContrasenia()" [(ngModel)]="cliente.clave" type="password" id="clave" name="clave" maxlength="100">
            

            <label for="direccion">Dirección:</label>
            <input [(ngModel)]="cliente.direccion" type="text" id="direccion" name="direccion" maxlength="100">
            
            <label for="telefono">Teléfono:</label>
            <input [(ngModel)]="cliente.telefono" type="text" id="telefono" name="telefono" maxlength="10">
            
            <button (click)="registrarCliente()" >Registrar</button>
        </form>
    </div>
</body>

</html>
