<aside class="sidebar">
  <div class="sidebar-header">
    <img src="/logo.png" alt="logo">
    <h2>
      Ciudad Verde
    </h2>
  </div>
  <ul class="sidebar-links">
    <h4>
      <span>Main Menu</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="dashboard.php">
        <span class="material-symbols-outlined"> dashboard </span>Dashboard</a>
    </li>
    <li>
      <a href="#"><span class="material-symbols-outlined"> overview </span>Overview</a>
    </li>
    <li>
      <a href="#"><span class="material-symbols-outlined"> monitoring </span>Analytic</a>
    </li>
    <h4>
      <span>General</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a [routerLink]="['cliente']"><span class="material-symbols-outlined"> Person </span>Clientes</a>
    </li>
    <li>
      <a [routerLink]="['productos']"><span class="material-symbols-outlined"> Inventory </span>Productos</a>
    </li>
    <li>
      <a [routerLink]="['membresias']"><span class="material-symbols-outlined"> Concierge </span>Membresias</a>
    </li>
    <li>
      <a [routerLink]="['planes']"><span class="material-symbols-outlined"> Star </span>Planes</a>
    </li>
    <li>
      <a [routerLink]="['facturas']"><span class="material-symbols-outlined"> receipt_long </span>Facturacion</a>
    </li>
    <li>
      <a [routerLink]="['facturacion-caja']"><span class="material-symbols-outlined"> savings </span>Caja</a>
    </li>
    <li>
      <a [routerLink]="['servicios']"><span class="material-symbols-outlined"> room_service </span>Servicios</a>
    </li>
    <li>
      <a [routerLink]="['personal']"><span class="material-symbols-outlined"> Taunt </span>Personal</a>
    </li>
    <h4>
      <span>Account</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="#"><span class="material-symbols-outlined"> account_circle </span>Profile</a>
    </li>
    <li>
      <a href="#"><span class="material-symbols-outlined"> settings </span>Settings</a>
    </li>
    <li>
      <a href="#"><span class="material-symbols-outlined"> logout </span>Logout</a>
    </li>
  </ul>
  <div class="user-account">
    <div class="user-profile">
      <img src="/login.png" alt="Profile Image" />
      <div class="user-detail">
        <h3>Justin Moreira</h3>
        <span>Gerente</span>
      </div>
    </div>
  </div>
</aside>
