.factura-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }

.factura-table th,
.factura-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrar el modal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/**Filtros**/

.container-init{
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#select-dias {
  width: 12%;
  padding: 12px 20px;
  margin-right: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#buscador-cliente {
  width: 20%;
  padding: 12px 20px;
  margin-right: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#select-metodoPago {
  width: 10%;
  padding: 12px 20px;
  margin-right: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}	

#filtrar-fecha {
  width: 5%;
  margin-right: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 3.3rem;
  box-sizing: border-box;
  background-color: green;
  color: white;
}

#todos {
  width: 10%;
  margin-right: 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 3.3rem;
  box-sizing: border-box;
  background-color: green;
  color: white;
}	
