#table-container {
  width: 90%;
  margin: 0 100px;
}

#table-container table th {
  text-align: center;
  padding: 1rem;
}

#table-container table td{
  text-align: center;
}

#filter-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#filter-container select {
  width: 12%;
  margin-right: 1rem;
  height: 2rem;
}

#buscador {
  width: 15%;
  margin-left: 6rem;
  padding: 1rem;
  margin-right: 1rem;
}


#modal-detalles-membresia {
  margin-top: 5rem;
}


#ambas-tablas {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.table-detalles-cliente {
  width: 100%;
  max-width: 45%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

.table-detalles-cliente thead th {
  background-color: #f8f9fa;
  text-align: left;
  font-weight: bold;
  padding: 0.75rem;
}

.table-detalles-cliente tbody td {
  vertical-align: middle;
  padding: 0.75rem;
}


/*Tabla servicios*/
.table-detalles-servicios {
  width: 100%;
  max-width: 45%;
  border-collapse: collapse;
}

.table-detalles-servicios thead th {
  background-color: #f8f9fa;
  text-align: left;
  font-weight: bold;
  padding: 0.75rem;
}

.table-detalles-servicios tbody td {
  vertical-align: middle;
  padding: 0.75rem;
}


.modal-footer {
  border-top: 1px solid #dee2e6;
  display: flex;
  justify-content: flex-end;
}

.modal-dialog {
  max-width: 75%;
  margin: 1.75rem auto;
}

h2 {
  color: white;

}

