
<div class="container">
  <div class="card">
    <!-- left side -->
    <div class="left-side">
      <h2 class="title">Bienvenido de nuevo!</h2>
      <span class="subtitle">Inicia sesión para continuar</span>

      <!-- Form -->
      <form>
        <div class="input-group">
          <label for="email" class="label">Correo Electrónico</label>
          <input
            type="email"
            class="input"
            name="email"
            id="email"
            placeholder="Ingrese su usuario o correo"
            autofocus
            required
          />
        </div>
        <div class="input-group">
          <label for="password" class="label">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            class="input"
            placeholder="Contraseña"
            required
          />
        </div>
        <div class="options-group">
          <div class="remember-me">
            <input type="checkbox" name="remember-me" id="remember-me" class="checkbox" />
            <label for="remember-me" class="checkbox-label">Remember for 30 days</label>
          </div>
        </div>
        <button
          class="btn-submit"
          type="submit"
          (click)="login()"
        >
          Iniciar Sesión
        </button>
      </form>
    </div>
    <!-- right side -->
    <div class="right-side">
      <img
        src="/login.png"
        alt="img"
        class="login-img"
      />
      <!-- text on image -->
      <div class="text-overlay">
        <span class="overlay-text">
          "En el Gimnasio 'Ciudad Verde', cada repetición te acerca más a tu mejor versión."
        </span>
      </div>
    </div>
  </div>
</div>
