<body>
  <div class="menu-container">
    <div class="menu">
      <div class="menu-header">
        <button (click)="setActiveMenu('fact-Producto')">Productos</button>
        <button (click)="setActiveMenu('fact-membresias')">Membresías</button>
      </div>

      <div class="menu-content">
        <ng-container *ngIf="activeMenu === 'fact-Producto'">
          <app-facturas-productos></app-facturas-productos>
        </ng-container>

        <ng-container *ngIf="activeMenu === 'fact-membresias'">
          <app-facturas-membresias></app-facturas-membresias>
        </ng-container>
      </div>
    </div>
  </div>
</body>
