
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="catalogo-productos">Catalogo de Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="catalogo-planes">Catalogo de Planes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registro">Registro</a>
        </li>
      </ul>
    </div>
    <div class="navbar-cart" (click)="onToggleCart()">
      <div class="navbar-cart-items">
        <button style="background-color: black; cursor: pointer;">
          <i style="font-size: xx-large; color: aliceblue;" class="bi bi-cart-plus-fill"></i>
        </button>
      </div>
    </div>

    <div class="navbar-user" (click)="onToggleUser()">
      <div class="user-icon">
        <button style="background-color: black; cursor: pointer;">
          <i style="font-size: xx-large; color: aliceblue;" class="bi bi-person-circle"></i>
        </button>
      </div>
    </div>
  </div>
</nav>

<div class="cart" [ngClass]="{ show: viewCart }">
  <app-carro (opened)="offToggleCart($event)"></app-carro>
</div>

<div class="user" [ngClass]="{showUser: viewUser}" >
  <app-user (opened)="offToggleUser($event)" ></app-user>
</div>

