<div class="menu-container">
  <div class="menu">
    <div class="menu-header">
      <button (click)="setActiveMenu('fact-Producto')">Productos</button>
      <button (click)="setActiveMenu('fact-Compra_membresia')">Adquisición de Membresía</button>
    </div>
    <div class="menu-content">
      <ng-container *ngIf="activeMenu === 'fact-Producto'">
        <app-productosF></app-productosF>
      </ng-container>

      <ng-container *ngIf="activeMenu === 'fact-Compra_membresia'">
        <app-membresiaF></app-membresiaF>
      </ng-container>
    </div>
  </div>
</div>

